@model MealProduct
@{
    ViewData["Title"] = "DeleteMealProdcut";
}
<br>
<div class="row">
    <div class="col-md-6">
        <form asp-controller="Meal" asp-action="RemoveProducts" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Meal.Name" class="control-label"></label>
                <input asp-for="Meal.Name" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Product.Calories" class="control-label"></label>
                <input asp-for="Product.Calories" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Product.Protein" class="control-label"></label>
                <input asp-for="Product.Protein" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Product.Carbohydrates" class="control-label"></label>
                <input asp-for="Product.Carbohydrates" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Product.Fat" class="control-label"></label>
                <input asp-for="Product.Fat" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" disabled />
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Remove" class="btn btn-danger" />
                <a asp-controller="Meal" asp-action="Details" asp-route-id="@Model.Meal.Id" class="btn btn-dark">Back to details</a>
            </div>
        </form>
    </div>
</div>
   
    
